/* set styling for chat app's header, logo, and title */
.App{
  background: lightblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}

/* set styling for header of the app */
.header {
  height: 4rem;
  border-bottom: 2px solid rgb(255, 212, 132);
  display: flex;
  align-items: center;
  padding:1px 1rem;
  background: rgb(102, 176, 245);
  position: relative;
}

/* set styling for logo of the app + include image of cat for background */
.logo {
  height: 3.5rem;
  width: 3.5rem;
  background: url("https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=49ed3252c0b2ffb49cf8b508892e452d");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid rgb(255, 212, 132);
}

/* set styling for the title of the app "Let's Chat" */
.title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}

/* set styling for messages bubbles */
.messages {
  max-height: calc(100vh - 5rem - 5rem);
  min-height: calc(100vh - 5rem - 5rem);
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  overflow: auto; 
  padding: 1rem;
}

/* set styling for messages text */
.message {
  color: black;
  background:rgb(255, 212, 132);
  padding: 0.5rem 1rem;
  margin:0.2rem;
  border-radius: 0.3rem;
}

/* set media queries for mobile, tablet and desktop breakpoints*/
html {
    font-size: 14px;
}
@media only screen and (min-width: 480px) {
    html {
        font-size: 16px;
    }
}
@media only screen and (min-width: 780px) {
    html {
        font-size: 18px;
    }
}
@media only screen and (min-width: 1024px) {
    html {
        font-size: 20px;
    }
}