/* set styling for chat app's header, logo, and title */
/* added justify-content to put footer at the bottom of the page without
  using fixed positioning */
.App{
  background: lightblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}

/* set styling for header of the app */
.header {
  height: 4rem;
  width: 100;
  border-bottom: 2px solid rgb(255, 212, 132);
  display: flex;
  align-items: center;
  padding:1px 1rem;
  background: rgb(73, 159, 240);
  position: relative;
}

/* set styling for logo of the app + include image of cat for background */
.logo {
  height: 3.5rem;
  width: 3.5rem;
  background: url("https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=49ed3252c0b2ffb49cf8b508892e452d");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid rgb(255, 212, 132);
}

/* set styling for the title of the app "Let's Chat" */
.title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}

/* set styling for footer of the app and set it to the bottom of the screen */
.footer {
  height: 4rem;
  width: 100;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  /* will decide if I want to add background and border-top in the future */
  /* background:rgb(73, 159, 240);
  border-top:2px solid rgb(255, 212, 132) */
}

/* set styling for text input space */
.text-input {
  width: 100%;
  border: 1px solid rgb(255, 212, 132);
  border: none;
  height: 2rem;
  border-radius: 1rem;
  padding: 0 1rem;
}

/* set styling for send button */
.send {
  background: rgb(255, 212, 132);
  border: none;
  margin-left: 1rem;
  border-radius: 50%;
  color: gray;
  cursor: pointer;
  height: 1.7rem;
  width: 1.7rem;
  position: absolute;
  right: 1.2rem;
}

/* set media queries for mobile, tablet and desktop breakpoints*/
html {
    font-size: 14px;
}
@media only screen and (min-width: 480px) {
    html {
        font-size: 16px;
    }
}
@media only screen and (min-width: 780px) {
    html {
        font-size: 18px;
    }
}
@media only screen and (min-width: 1024px) {
    html {
        font-size: 20px;
    }
}