/**/
.name-picker {
    display: flex;
    align-items: center;
    margin-left: 1rem;   
    position: absolute;
    right: 1rem;
}

/* set username icon styling*/
.set-icon {
    color: white;
    cursor: pointer;
}

.set-icon:hover {
    color: darkcyan;
}

/* "Set Username" or name styling */
.name-set {
   color: white;
   font-weight: bold;
}

/* text input styling */
.type-name {
    border: 1px solid rgb(255, 212, 132);
    border-radius: 1rem;
    padding: 0 0.5rem;
}

/* set button styling*/
.set-button {
    color: gray; 
    background: rgb(255, 212, 132);
    border: none;
    height: 1rem;
    width: 2rem;

}