/* set styling for footer of the app and set it to the bottom of the screen */
.footer {
    height: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    /* will decide if I want to add background and border-top in the future */
    background:rgb(73, 159, 240);
    border-top:2px solid rgb(255, 212, 132)
  }
  
  /* set styling for text input space */
  .text-input {
    width: 100%;
    border: 1px solid rgb(255, 212, 132);
    height: 2rem;
    border-radius: 1rem;
    padding: 0 1rem;
    color: black;
  }
  
  /* set styling for send button */
  .send {
    border: none;
    margin-left: 1rem;
    border-radius: 50%;
    background: rgb(255, 212, 132);
    color: gray;
    cursor: pointer;
    height: 1.7rem;
    width: 1.7rem;
    position: absolute;
    right: 1.25rem;
  }

  /* set styling for send button when hovered */
  .send:hover {
    background-color: darkcyan;
    color: white;
  }

  /* set styling for camera button */
  .camera {
    background:rgb(255, 212, 132);
    color: gray;
    border: none;
    border-radius: 12px; 
    height: 2rem;
    width: 2rem; 
    cursor: pointer;
  }

  /* set styling for camera when hovered */
  .camera:hover {
    background-color: darkcyan;
    color: white;
  }